<!-- Login Form -->
<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        
        <!-- Username field -->
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" [(ngModel)]="user.email" name="email" required />
        </mat-form-field>
  
        <!-- Password field -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [(ngModel)]="user.password" name="password" type="password" required />
        </mat-form-field>
  
        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
    </mat-card-content>
  
    <mat-card-footer>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </mat-card-footer>
  </mat-card>
  <button mat-raised-button color="primary" (click)="populateTestData()">Fill Test Data</button>