<mat-card>
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter your name" [(ngModel)]="user.name" name="name" required>
      <mat-error *ngIf="!user.name">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your email" [(ngModel)]="user.email" name="email" required email>
      <mat-error *ngIf="!user.email">Email is required</mat-error>
      <mat-error *ngIf="user.email && !user.email.includes('@')">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" [(ngModel)]="user.password" name="password" type="password" required>
      <mat-error *ngIf="!user.password">Password is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Enter your phone number" [(ngModel)]="user.phoneNumber" name="phoneNumber"  pattern="^\d{10}$">
      <mat-error *ngIf="!user.phoneNumber">Phone number is required</mat-error>
      <mat-error *ngIf="user.phoneNumber && !validatePhoneNumber(user.phoneNumber)">Phone number must be 10 digits</mat-error>

    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>
    <button mat-raised-button color="primary" (click)="populateTestData()">Fill Test Data</button>
  </form>
</mat-card>
