<mat-toolbar color="primary">
    <span>Dashboard</span>
  </mat-toolbar>
  
  <div class="property-container">
    <mat-card *ngFor="let property of properties" class="property-card">
      <mat-card-header>
        <mat-card-title>{{ property.title }}</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <p><strong>Location:</strong> {{ property.location.address }}</p>
        <p><strong>Price:</strong> ₹{{ property.price  }}</p>
        <p><strong>Type:</strong> {{ property.propertyType }}</p>
        <p><strong>Bedrooms:</strong> {{ property.bedrooms }}</p>
        <p><strong>Bathrooms:</strong> {{ property.bathrooms }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  